.btn-blue {
  background-color: rgb(183, 205, 227);
  /* box-shadow: 3px 3px 5px rgb(0,0,0,0.3); */
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: lighter;
  color: white;
  transition: 0.3s ease;
  opacity: 0.9;
  margin-top: 10px;
}

.btn-blue:hover {
  opacity: 1;
}

.btn-orange {
  background-color: rgb(183, 205, 227);
  box-shadow: 3px 3px 5px rgb(0,0,0,0.3);
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: lighter;
  color: white;
  transition: 0.3s ease;
  opacity: 1;
  margin-top: 10px;
}

.btn-orange:hover {
  opacity: 0.7;
}
